<template>
  <div class="uk-card">
    <div class="uk-card-body uk-text-center">
      <input class="uk-input" v-model.number="pesoTierra" v-show="calculo" type="number"  placeholder="Digita tu peso en kilogramos">
      <h1 class="uk-text-warning"> {{ pesoLuna }} </h1>
    </div>
  </div>
</template>

<script>

export default {

  data () {
    return {
      pesoTierra: '',
      pesoLuna: '',
      gravedad: 9.81,
      fuerzaGravitaria: 1.622,
    }
  },

  computed:{
    calculo: function (){
      return this.pesoLuna = this.pesoTierra / this.gravedad * this.fuerzaGravitaria + ' ' + 'Kilogramos'
    }
  }
}
</script>

<style lang="scss">


</style>
